<style>
    /* Add a dark gray background color to the modal header and center text */
    .modal-header, h4, .close {
        background-color: #333;
        color: #fff !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-header, .modal-body {
        padding: 40px 50px;
    }
</style>
<div class="body body-s">
    <form action="" class="sky-form">
        <header>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#newChannelDialog">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-default btn-sm" (click)="onRefresh()">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
        </header>

        <fieldset *ngIf="this.isLoading == true">
            <section>
                <h3>
                    Loading.......<span class="glyphicon glyphicon-refresh"></span>
                </h3>
            </section>
        </fieldset>

        <fieldset>
            <section *ngFor="let channel of channelItems">
                <div>
                    <p><a href="#" (click)="onSelected(channel)">{{channel.name}}</a></p>
                    <p>
                        <small>
                            {{channel.description}}
                        </small>
                    </p>
                    <hr />
                </div>
            </section>
        </fieldset>
        <!--<footer>-->
            <!--<button type="submit" class="button">Submit a review</button>-->
        <!--</footer>-->
    </form>
    <!--Add a new channel-->
    <app-newchannel [formid]='newChannelModalID' [formtitle]="newChannelModalTitle"
                    [formsubmitbuttontitle]="newChannelModalSubmitButtonTitle"></app-newchannel>
</div>